<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AltaServlet</servlet-name>
        <servlet-class>classes.com.servlets.AltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaServlet</servlet-name>
        <servlet-class>classes.com.servlets.BajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>classes.com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>classes.com.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>classes.com.servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaServlet</servlet-name>
        <servlet-class>classes.com.servlets.ModificaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaServlet</servlet-name>
        <url-pattern>/AltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaServlet</servlet-name>
        <url-pattern>/BajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaServlet</servlet-name>
        <url-pattern>/ModificaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
